<div class="panel-footer">
    <div class="row" style="margin: 0">
        <div class="col-xs-4">
            <div
                    data-width="300"
                    data-colorscheme="dark"
                    class="fb-like"
                    data-href="https://www.facebook.com/DaisysFlowersBulgaria"
                    data-layout="standard"
                    data-action="like"
                    data-show-faces="true"
                    data-share="true"></div>
        </div>
        <div class="col-xs-4">
            <p>The site is at the development stage. All rights reserved. Dessito123 company</p>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-8">
                    <label>Find us</label>
                    <ul>
                        <li title="Facebook">
                            <a href="https://www.facebook.com/DaisysFlowersBulgaria" target="_blank"><img src="images/SocialNetworks/facebook.png"></a>
                        </li>
                        <li title="Google+">
                            <a href="https://plus.google.com/u/0/b/100736602559893105860/100736602559893105860/about/p/pub" target="_blank"><img src="images/SocialNetworks/googleplus.png"></a>
                        </li>
                        <li title="YouTube">
                            <a href="https://www.youtube.com/channel/UColac9bibgqHbSoqmX51uNA/feed?view_as=public" target="_blank"><img src="images/SocialNetworks/youtube.png"></a>
                        </li>
                        <li title="GitHub">
                            <a href="https://github.com/kasskata?tab=repositories" target="_blank"><img src="images/SocialNetworks/github.png"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data=daisysFlowersBulgaria&amp;qzone=1&amp;margin=0&amp;size=60x60&amp;ecc=M"
                         alt="qr code"/>
                </div>
            </div>
        </div>
    </div>
</div>