<div class="row">
    <div class="col-md-6" ng-controller="CarouselCtrl" style="width: 100%">
        <div>
            <carousel interval="interval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto; width: 100%; height: 350px">

                    <div class="carousel-caption">
                        <h2>{{ slide.name }}</h2>

                        <p>{{ slide.description }}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>